body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #202124;
}

.main {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

/* Remove outer borders */
.row:first-child div {
  border-top: none;
}

.row:last-child div {
  border-bottom: none;
}

.row div:first-child {
  border-left: none;
}

.row div:last-child {
  border-right: none;
}
